.page {
  align-content: center;
  background-color: #a2a8d3;
  max-width: 800px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

.page h1 {
  display: inline;
  position: relative;
  top: 13px;
  margin: 0.2rem;
  padding: 0;
}

.edit {
  display: inline;
  position: relative;
  top: -30px;
  background-color: #113f67;
  border: 1px solid #113f67;
  border-radius: 5px;
  color: #e7eaf6;
  margin-top: 10px;
  margin-left: 80%;
  padding: 0.5rem 1rem;
}