.page {
  display: grid;
  grid-template-areas:
    "tasks sidebar"
    "tasks sidebar";
}

.tasks {
    grid-area: tasks;
    grid-column-start: 1;
    grid-column-end: 3;
}

.sidebar {
    grid-area: sidebar;
    grid-column-start: 3;
    grid-column-end: 4;
}
