@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #0c0c0d;
}

ul {
  padding: 0;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: #e7eaf6;
  cursor: pointer;
}

.centered {
  margin: 1rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* colors:

 backgrounb (grey): #0c0c0d
 subBackground: #e7eaf6
 main (blue): #411e8f
 alt (violet): #310a5d 

 lighblue: #a2a8d3
 blue: #38598b
 darkblue: #113f67*/
