.nav {
  grid-area: head;

  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;

  background-color: #113f67;
  max-height: 5rem;
  max-width: auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items:center;
  justify-content: space-evenly;
  display: flex;
}

.nav li {
  margin-left: 2rem;
}

.nav h1 {
  margin: 1rem;
  max-width: 300px;
  color: #e7eaf6;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.nav h1:hover {
  transform: scale(1.1);
}

.link {
  color: black;
  text-decoration: none;
  font: inherit;
  border: 1px solid #113f67;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  margin: auto;
  background-color: #a2a8d3;
  font-weight: bolder;
  cursor: pointer;
  transition: all .1s ease-in;
}

.link:focus {
  outline: none;
}

.link:hover,
.link:active {
  background-color: crimson;
}
